-#  This file is app/views/movies/index.html.haml
%h2 All Movies

%table#movies.table.table-striped.col-md-12
  %thead
    %tr
      -# Self note 1: {:class, :id} used to hilight, = link_to ... used for sorting
      -# Self note 2: careful with spacing, will not work properly if space between 
      -#              } and = as well as th and {
      %th{:class => @title_header, :id => "title_header"}= link_to "Movie Title", :sort => "title"
      %th Rating
      %th{:class => @release_header, :id => "release_header"}= link_to "Release Date", :sort => "release_date"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
